<header id="header">
    <a href="$BASEURL$/">Example HTMX static website</a>
    <nav id="navigation">
        <ul>
            <li><a href="$BASEURL$/">Home</a></li>
            <li><a href="$BASEURL$/foo.html" hx-get="$BASEURL$/foo.html.part" hx-target="#part" hx-push-url="$BASEURL$/foo.html">Foo</a></li>
            <li><a href="$BASEURL$/bar.html" hx-get="$BASEURL$/bar.html.part" hx-target="#part" hx-push-url="$BASEURL$/bar.html">Bar</a></li>
        </ul>
    </nav>
</header>
<article id="part">